@import "../../../app.component.scss";

.container {
  background-color: rgba(252, 235, 234, 1);
  // border-radius: 2%;
  padding: 5%;
  margin: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .left,
  .right {
    flex: 1;
    margin: 5%;
  }

  .left {
    max-width: 580px;
    display: flex;
    flex-direction: column;

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 66px;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
    }
  }

  .right {
    background: url("../../../../assets/Unsplash.png");

    max-width: 100%;
    height: 100%;
  }
}
