
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <div class="logo"><i class='fas fa-book-open'></i></div>
                    <p class="text1">Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="icon1">
                        <a href="#facebook"><i class='fab fa-facebook'></i></a>
                        <a href="#instagram"><i class='fab fa-instagram'></i></a>
                        <a href="#linkedin"><i class='fab fa-linkedin'></i></a>
                        <a href="#youtube"><i class='fab fa-youtube'></i></a>
                    </div>
                </div>
                <div class="footer-col">
                    <h4>COMPANY</h4>
                    <ul class="about">
                        <li><a href="#home">HOME</a></li>
                        <li><a href="#about us">ABOUT US</a></li>
                        <li><a href="#books">BOOKS</a></li>
                        <li><a href="#new">NEW RELEASE</a></li>
                        <li><a href="#contact">CONTACT US</a></li>
                        <li><a href="#blog">BLOG</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>IMPORTENT LINKS</h4>
                    <ul class="links">
                        <li><a href="#privacy">Privacy Policy</a></li>
                        <li><a href="#faqs">FAQs</a></li>
                        <li><a href="#terms">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="privacy">
                <span class="first-phrase">© 2022 Arihant. All Rights Reserved.</span>
                <span class="spacing"></span>
                <span class="second-phrase">Privacy | Terms of Service</span>
            </div>
        </div>

    </footer>
